<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Backend ninja login</title>
</head>
<body>
    <div class="container">
        <form action='/login' method='POST'>
            <h2>Sign in</h2>
            <label>Username</label>
            <input type="text" id="inputUsername" placeholder="username">
            <label>Password</label>
            <input type="password" id="inputPassword" placeholder="password">
            <button type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>